.header {
  background-color: var(--blue4);
  
  &__inner {
    display: flex;
    align-items: center;
  }
  &__sum {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-left:  366px;
    font-size: 30px;
    color: var(--yellow);
  }
  &-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 366px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: var(--yellow);
    
    &__item {
      padding: 20px;
      transition: .2s;
      text-decoration: underline transparent;
      
      &:hover {
        text-decoration: underline var(--yellow);
      }
    }
  }
}