.table-item {
  display: flex;
  border-bottom: 1px solid var(--blue);
  
  &:first-of-type {
    border-top: 1px solid var(--blue);
  }
  &:last-of-type  {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    .table-item-cell {
      &:first-of-type {
        border-bottom-left-radius: 15px;
      }
      &:last-of-type {
        border-bottom-right-radius: 15px;
      }
    }
  }
  
  
  
  &--head {
    border-radius: 15px;
    position: relative;
    
    * {
      background-color: transparent !important;
      color: inherit !important;
    }
    
    .table-item-cell {
      &:first-of-type {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
      }
      &:last-of-type {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
  
  &__inner {
    display: flex;
    position: relative;
    
    & > i {
      position: absolute;
      right: -30px;
      top: 50%;
      color: var(--blue);
      transform: translateY(-50%);
      transition: .2s;
      cursor: pointer;
      
      &:hover {
        color: var(--yellow) !important;
      }
    }
  }
  
  &--month {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow5);
    border: 1px solid var(--blue);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    
    span {
      margin: 0 auto;
      padding-left: 130px;
      text-transform: uppercase;
      color: var(--blue);
    }
    input,
    input:disabled {
      background: transparent !important;
      color: var(--blue) !important;
    }
    
    .table-item-cell {
      width: 130px !important;
      border-top-right-radius: 15px;
      border: none;
      background: transparent !important;
      
      &:last-of-type {
        border-right: none;
      }
      
      i {
        color: var(--blue5) !important;
    
        &:hover {
          color: var(--blue) !important;
        }
      }
    }
    
    & > i {
      position: absolute;
      right: -30px;
      top: 50%;
      color: var(--blue);
      transform: translateY(-50%);
      transition: .2s;
      cursor: pointer;
  
      &:hover {
        color: var(--yellow) !important;
      }
    }
  }
  
  &__links {
    display: flex;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    align-items: center;
  }
  
  &__link {
    display: block;
    margin-left: 20px;
    font-size: 12px;
    color: var(--blue4) !important;
    white-space: nowrap;
    cursor: pointer;
    transition: .2s;
    
    &:hover {
      color: var(--yellow) !important;
    }
  }
  
  &-cell {
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    background: var(--blue5);
    padding: 10px 15px;
    border-left: 1px solid var(--blue);
    transition: .2s;
    
    &:first-of-type {
      display: flex;
      width: 60px;
      justify-content: center;
      align-items: center;
      background-color: var(--yellow);
      color: var(--blue);
    }
    &:last-of-type {
      border-right: 1px solid var(--blue);
    }
    
    
    &:hover {
      
      i {
        opacity: 1;
      }
    }
    
    &--unlocked {
      background: #fff;
    }
    &--sum {
      background-color: var(--blue4);
      font-size: 20px;
      color: var(--yellow);
    }
    
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      
      &--content {
        justify-content: space-between;
      }
    }
    
    
    input {
      max-width: 70px;
      text-align: center;
      transition: .2s;
      
      &:disabled {
        background: var(--blue5);
        color: var(--yellow5);
        cursor: default;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    span {
      margin: 0 5px;
    }
    i {
      color: var(--yellow5);
      opacity: 0;
      transition: .2s;
      cursor: pointer;
      
      &:hover {
        color: var(--yellow);
      }
    }
  }
}







