.table-item-cell {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  background: var(--blue5);
  padding: 10px 15px;
  border-left: 1px solid var(--blue);
  transition: .2s; }
  .table-item-cell:first-of-type {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: var(--blue); }
  .table-item-cell:last-of-type {
    border-right: 1px solid var(--blue); }
  .table-item-cell:hover i {
    opacity: 1; }
  .table-item-cell--unlocked {
    background: #fff; }
  .table-item-cell--sum {
    background-color: var(--blue4);
    font-size: 20px;
    color: var(--yellow); }
  .table-item-cell__inner {
    display: flex;
    justify-content: center;
    align-items: center; }
    .table-item-cell__inner--content {
      justify-content: space-between; }
  .table-item-cell input {
    max-width: 70px;
    text-align: center;
    border: none;
    transition: .2s; }
    .table-item-cell input:disabled {
      background: var(--blue5);
      color: var(--yellow5);
      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis; }
    .table-item-cell input::-webkit-outer-spin-button, .table-item-cell input::-webkit-inner-spin-button {
      display: none; }
  .table-item-cell span {
    margin: 0 5px; }
  .table-item-cell i {
    color: var(--yellow5);
    opacity: 0;
    transition: .2s;
    cursor: pointer; }
    .table-item-cell i:hover {
      color: var(--yellow); }
