.table-item-cell {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  background: var(--blue5);
  padding: 10px 15px;
  border-left: 1px solid var(--blue);
  transition: .2s;
  
  &:first-of-type {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: var(--blue);
  }
  &:last-of-type {
    border-right: 1px solid var(--blue);
  }
  
  
  &:hover {
    
    i {
      opacity: 1;
    }
  }
  
  &--unlocked {
    background: #fff;
  }
  &--sum {
    background-color: var(--blue4);
    font-size: 20px;
    color: var(--yellow);
  }
  
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &--content {
      justify-content: space-between;
    }
  }
  
  
  input {
    max-width: 70px;
    text-align: center;
    border: none;
    transition: .2s;
    
    &:disabled {
      background: var(--blue5);
      color: var(--yellow5);
      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  span {
    margin: 0 5px;
  }
  i {
    color: var(--yellow5);
    opacity: 0;
    transition: .2s;
    cursor: pointer;
    
    &:hover {
      color: var(--yellow);
    }
  }
}








