:root {
  --blue: #2C3D82;
  /*--blue2: #071C71;*/
  /*--blue3: #2C3D82;*/
  --blue4: #4965D6;
  --blue5: #6F83D6;
  --yellow: #FFD573;
  /*--yellow2: #A67400;*/
  /*--yellow3: #BF9430;*/
  /*--yellow4: #FFC640;*/
  --yellow5: #FFD573; }

/*@custom-media --max1024 (max-width: 1024px);*/
/*@custom-media --max767 (max-width: 767px);*/
/*@custom-media --not-mobile (min-width: 601px);*/
/*@custom-media --mobile (max-width: 600px);*/
:root {
  --blue: #2C3D82;
  /*--blue2: #071C71;*/
  /*--blue3: #2C3D82;*/
  --blue4: #4965D6;
  --blue5: #6F83D6;
  --yellow: #FFD573;
  /*--yellow2: #A67400;*/
  /*--yellow3: #BF9430;*/
  /*--yellow4: #FFC640;*/
  --yellow5: #FFD573; }

/*@custom-media --max1024 (max-width: 1024px);*/
/*@custom-media --max767 (max-width: 767px);*/
/*@custom-media --not-mobile (min-width: 601px);*/
/*@custom-media --mobile (max-width: 600px);*/
* {
  box-sizing: border-box;
  outline: none; }

html {
  font-family: sans-serif;
  line-height: 1.15; }

body {
  margin: 0; }

svg:not(:root) {
  overflow: hidden; }

.container {
  min-width: 1280px;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px; }

main {
  margin-top: 20px; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none; }

.i-icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em; }

button {
  border: 0;
  box-shadow: none;
  padding: 0; }

p {
  margin: 0; }

.header {
  background-color: var(--blue4); }
  .header__inner {
    display: flex;
    align-items: center; }
  .header__sum {
    margin-left: auto;
    margin-right: auto;
    padding-left: 366px;
    font-size: 30px;
    color: var(--yellow); }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 366px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: var(--yellow); }
    .header-nav__item {
      padding: 20px;
      transition: .2s;
      text-decoration: underline transparent; }
      .header-nav__item:hover {
        text-decoration: underline var(--yellow); }

.table {
  display: flex;
  flex-direction: column;
  align-items: center; }

.table-item {
  display: flex;
  border-bottom: 1px solid var(--blue); }
  .table-item:first-of-type {
    border-top: 1px solid var(--blue); }
  .table-item:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
    .table-item:last-of-type .table-item-cell:first-of-type {
      border-bottom-left-radius: 15px; }
    .table-item:last-of-type .table-item-cell:last-of-type {
      border-bottom-right-radius: 15px; }
  .table-item--head {
    border-radius: 15px; }
    .table-item--head * {
      background-color: transparent !important;
      color: inherit !important; }
    .table-item--head .table-item-cell:first-of-type {
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px; }
    .table-item--head .table-item-cell:last-of-type {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px; }
  .table-item__inner {
    display: flex;
    position: relative; }
    .table-item__inner > i {
      position: absolute;
      right: -30px;
      top: 50%;
      color: var(--blue);
      transform: translateY(-50%);
      transition: .2s;
      cursor: pointer; }
      .table-item__inner > i:hover {
        color: var(--yellow) !important; }
  .table-item--month {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow5);
    border: 1px solid var(--blue);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
    .table-item--month span {
      margin: 0 auto;
      padding-left: 160px;
      text-transform: uppercase;
      color: var(--blue); }
    .table-item--month i {
      color: var(--blue5) !important; }
      .table-item--month i:hover {
        color: var(--blue) !important; }
    .table-item--month input,
    .table-item--month input:disabled {
      background: transparent !important;
      color: var(--blue) !important; }
    .table-item--month .table-item-cell {
      width: 160px !important;
      border-top-right-radius: 15px;
      border: none;
      background: transparent; }
  .table-item-cell {
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    background: var(--blue5);
    padding: 10px 15px;
    border-left: 1px solid var(--blue);
    transition: .2s; }
    .table-item-cell:first-of-type {
      display: flex;
      width: 60px;
      justify-content: center;
      align-items: center;
      background-color: var(--yellow);
      color: var(--blue); }
    .table-item-cell:last-of-type {
      border-right: 1px solid var(--blue); }
    .table-item-cell:hover i {
      opacity: 1; }
    .table-item-cell--unlocked {
      background: #fff; }
    .table-item-cell--sum {
      background-color: var(--blue4);
      font-size: 20px;
      color: var(--yellow); }
    .table-item-cell__inner {
      display: flex;
      justify-content: center;
      align-items: center; }
      .table-item-cell__inner--content {
        justify-content: space-between; }
    .table-item-cell input {
      max-width: 70px;
      text-align: center;
      transition: .2s; }
      .table-item-cell input:disabled {
        background: var(--blue5);
        color: var(--yellow5);
        cursor: default;
        overflow: hidden;
        text-overflow: ellipsis; }
    .table-item-cell span {
      margin: 0 5px; }
    .table-item-cell i {
      color: var(--yellow5);
      opacity: 0;
      transition: .2s;
      cursor: pointer; }
      .table-item-cell i:hover {
        color: var(--yellow); }

.table-item-cell {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  background: var(--blue5);
  padding: 10px 15px;
  border-left: 1px solid var(--blue);
  transition: .2s; }
  .table-item-cell:first-of-type {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: var(--blue); }
  .table-item-cell:last-of-type {
    border-right: 1px solid var(--blue); }
  .table-item-cell:hover i {
    opacity: 1; }
  .table-item-cell--unlocked {
    background: #fff; }
  .table-item-cell--sum {
    background-color: var(--blue4);
    font-size: 20px;
    color: var(--yellow); }
  .table-item-cell__inner {
    display: flex;
    justify-content: center;
    align-items: center; }
    .table-item-cell__inner--content {
      justify-content: space-between; }
  .table-item-cell input {
    max-width: 70px;
    text-align: center;
    border: none;
    transition: .2s; }
    .table-item-cell input:disabled {
      background: var(--blue5);
      color: var(--yellow5);
      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis; }
    .table-item-cell input::-webkit-outer-spin-button, .table-item-cell input::-webkit-inner-spin-button {
      display: none; }
  .table-item-cell span {
    margin: 0 5px; }
  .table-item-cell i {
    color: var(--yellow5);
    opacity: 0;
    transition: .2s;
    cursor: pointer; }
    .table-item-cell i:hover {
      color: var(--yellow); }
